<style> 
    * { 
        text-align: center; 
    }
    body {
        border-width:1px; 
        border-style:solid;
        border-color:#000000
    }
</style>


<body style="background-color:#FFFFFF"> 
<h3> Team Members </h3> 
<p> You Have {{members.count}} Team Member </p>


<form class='button' action="{% url 'add_member'%}">
    <input type="submit" value="Add Member" />
</form>


{% for member in members%}
    
    <div> 
        <hr style="width:30%">

        <div class"member">
            <a href = "{% url 'edit_member' member.id %}">
            {% if member.admin%}
                <p>{{member.FirstName}}{{member.LastName}} (Admin)</p>
                <p>{{member.PhoneNumber}}</p>
                <p>{{member.Email}}</p>
            {% else%}
                <p>{{member.FirstName}} {{member.LastName}} </p>
                <p>{{member.PhoneNumber}}</p>
                <p>{{member.Email}}</p>
            {% endif%}
            </a>
        </div> 
    </div> 
{% endfor %} 
</body> 